<section class="contact-us container">
    <div class="contact-us__social ">
        <span class="icon-container"><img src="/assets/images/tweiter.svg" alt="" class="icon"></span>
        <span class="icon-container"><img src="/assets/images/facebook.svg" alt="" class="icon"></span>
        <span class="icon-container"><img src="/assets/images/link.svg" alt="" class="icon"></span>
    </div>
    <div class="contact-us__icons">
       
        <div class="icon-holder">
            <span class="icon-holder__label">info@fronthooks.ir</span>
            <span class="icon-container">
                <img src="/assets/images/mail.svg" alt="" class="icon">
            </span>
        </div>
        <div class="icon-holder">
            <span class="icon-holder__label">09182430012</span>
            <span class="icon-container">
                <img src="/assets/images/mobile.svg" alt="" class="icon">
            </span>
        </div>
        <div class="icon-holder">
            <span class="icon-holder__label">خوزستان-دزفول-پلاک3</span>
            <span class="icon-container">
                <img src="/assets/images/map.svg" alt="" class="icon">
            </span>
        </div>
 
    </div>
    <div class="contact-us__map">
    <img src="/assets/images/map2.png" alt="">
    </div>
    <div  class="contact-us__form">

    <div class="form-wrapper">
        <h3>نظرات شما</h3>
        <form> 
            <input type="text" placeholder="Enter your name">
            <input type="email" placeholder="Enter your email">
            <textarea name="" id="" cols="30" rows="10" placeholder="your comment"></textarea>
            <button type="submit" class="btn btn--primaray">send</button>

        </form>
        
    </div>
    
    </div>


</section>