<footer class="main-footer">
    <div class="container footer">

        <div class="footer__item">
            <div class="footer__logo">
                <img src="/assets/images/tapsi-logo-white.svg" alt="">

            </div>
            <p>
                اپلیکیشن درخواست خودرو و پیک
            </p>
            <span>
                تمام حقوق مادی و معنوی این وبسایت متعلق به تپسی است.
            </span>
        </div>
        <div class="footer__item">
          <h6>تپسی</h6>
        <ul>
            <li><a href="#">وبلاگ تپسی</a></li>
            <li><a href="#">فرصت شغلی</a></li>
            <li><a href="#">تماس با ما</a></li>
            <li><a href="#">لوگو و هویت سازمانی</a></li>
        </ul>
        </div>
        
        <div class="footer__item">
          <h6>مسافران</h6>
         <li> <a href="#">دانلود اپ مسافر</a></li>
         <li> <a href="#">نسخه وب تپسی</a></li>
         <li> <a href="#">پرسش های متداول مسافران</a></li>
         <li> <a href="#">باشگاه مشتریان</a></li>
        </div>
        <div class="footer__item">
          <h6>رانندگان</h6>
        <li><a href="#">ثبت نام راننده تاکسی</a></li>
        <li><a href="#">دانلود اپ سفیر</a></li>
        <li><a href="#">پرسش های متداول سفیران</a></li>
        <li><a href="#">باشگاه مشتریان</a></li>
        </div>
        <div class="footer__item">
          <h6>کسب و کار ها</h6>
          <li><a href="#">پنل سازمانی تپسی</a></li>
          <li><a href="#">خرید کد اعتبار و تخفیف</a></li>
          <li><a href="#">دریافت API</a></li>
          <li><a href="#">شرایط و قوانین</a></li>
        </div>
        <div style="display: block;">
            <div class="footer__item enemad">
           
                <div class="footer__enemad"><img src="/assets/images/enemad.png" alt=""></div>
                <div class="footer__enemad"><img src="/assets/images/enemad.png" alt=""></div>
                <div class="footer__enemad"><img src="/assets/images/enemad.png" alt=""></div>
            
        </div>
        </div>
      
    </section>
</footer>

